* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    border: 2px solid black;
    margin: 0 auto;
    max-width: 800px;
    height: 800px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.box {
    margin: 10px;
}

.row1, .row2 {
    margin: auto auto;
}

.red-box {
    background-color: red;
    width: 200px;
    height: 200px;
}

.green-box {
    background-color: green;
    width: 350px;
    height: 400px;
}

.yellow-box {
    background-color: yellow;
    width: 200px;
    height: 400px;

}

.pink-box {
    background-color: pink;
    width: 350px;
    height: 200px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 30px;
    border: solid 2px purple;
}

.box1 {
    background-color: red;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.box2 {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box3 {
    background-color: blue;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box4 {
    background-color: yellow;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}

.booking {
    margin-top: 100px;
    margin-bottom: 100px;

}

.booking-wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(115, 216, 115);
    border-radius: 10px;
}

.lock-img-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
}

.booking__descr {
    padding: 5px;
}

.booking__descr-header {
    font-size: 22px;
    font-weight: bold;
}

.booking__descr-main {
    font-style: 20px;
}

.close-img-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 5px;
}


.frontend {
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(204, 230, 238, 0.774);
    padding-bottom: 20px;
}

.frontend-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.frontend-header-wrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.frontend-header {
    margin-bottom: 10px;
}

.frontend-subheader {
    font-size: 18px;
    margin-bottom: 10px;
}

.points-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.points-items {
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 5px;
}

.points-items:last-child {
    margin-right: 0;
}

.frontend-logo-wrapper {
    position: absolute;
    right: 0;
}

.frontend-main {
    margin-bottom: 10px;
}

.frontend-footer {
    display: flex;
    justify-content: space-between;
}

.keys-words {
    display: flex;
}

.keys1::after {
    content: "";
    border-left: 3px solid grey;
    padding-left: 10px;
    margin-left: 10px;
}

.adv-info {
    display: flex;
}

.adv-number::after {
    content: "";
    border-left: 3px solid grey;
    padding-left: 10px;
    margin-left: 10px;
}